@font-face {
  font-family: roboto regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

* {
  margin: 0px;
  padding: 0px;
}
input:focus {
  outline: none;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  background-color: gray;
}
.yahoo {
  background-color: white;
  padding: 30px;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container {
  width: 85%;
  background-color: white;
  margin: 0px auto;
}
.yahoo .logo {
  width: 15%;

  float: left;
}
.yahoo .search {
  width: 55%;

  float: left;
}
.yahoo .search input {
  font-size: 18px;
  width: 87%;
  border: 1px solid #188fff;
  border-radius: 5px 0px 0px 5px;
  padding: 10px;
  float: left;
}
.yahoo .search button {
  width: 13%;
  padding: 10px 5px;
  border-radius: 0px 5px 5px 0px;
  font-size: 18px;
  background-color: #188fff;
  border: 1px solid #188fff;
  color: white;
  float: left;
}
.yahoo .menu {
  width: 25%;

  float: left;
}
.yahoo .menu ul {
  text-align: right;
  margin-top: 10px;
}
.yahoo .menu ul li {
  display: inline-block;
  margin: 0px 5px;

}
.yahoo .menu ul li:nth-child(1) a {
  color: purple;
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid purple;
  border-radius: 100px;
  transform: translate(0px, -6px);
  display: inline-block;
}
}
.yahoo .menu ul li:nth-child(1) a:hover {
  background-color: purple;
  color: white;
}
.yahoo .menu ul li:nth-child(3) a {
  font-weight: 900;
  font-size: 15px;
  transform: translate(0px, -6px);
  display: inline-block;
}
.yahoo .menu ul li:nth-child(3) a span {
  display: inline-block;
  transform: translate(0px, -6px);
}
.yahoo .yahoomenu ul li {
  display: inline-block;
}
.yahoo .yahoomenu ul li a{
  font: bold;
  display: inline-block;
  color: #444;
  font-size: 14px;
  display: inline-block;
  padding: 10px 20px;
}
